@import url(https://fonts.googleapis.com);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    column-gap: 10rem;
    text-align: center;
    background-color: #fdfdfd;
   
    max-width: 100%;
    min-height: 70px;
    width: 100%;
}

.logo-container img{
    padding: 0;
    margin: 0;
    width: 100px;
    height: auto;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding: 10px;
    align-items: center;
    color: #6C235D;
    column-gap: 3rem;
    max-width: 100%;
    overflow: hidden;
    
}

.navbar-container a{
    color:#6C235D;
    text-decoration: none;
    padding: 10px ;
    transition: 0.7s ease;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 100%;
}

.navbar-container a:hover{
    background-color: #6C235D;
    color: #fdfdfd;
}

.hamburger{
    display: none;
    cursor: pointer;
    background-color:#6C235D;
    border: none;
}

.wrapperbutton{
    border: none;
}


.bar{
    display: none;
    width:25px;
    height: 6px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out ;
    background-color:#fdfdfd;
    color:#fdfdfd
    
}

.navbar-container a.active{
    background-color: #6C235D;
    color: #fdfdfd;
}

.col-md-12{
    padding-top: 1em;
}

.form-control{
    border-radius: 20px;
    
}
header{
    color: #6C235D;
}

/* media view of the menu bar */
@media only screen and (max-width: 768px){
    .hamburger{
        display: block;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg)
        ;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg)
        ;
    }

    .navbar-container{
        overflow: hidden;
        position: fixed;
        left: -150%;
        top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap:wrap;
        background-color:#6C235D;
        width: 100%;
        align-items:center;
        text-align: center;
        transition: 0.4s;
        padding-top: 20px;
        padding-bottom: 5px;
        row-gap: 30px;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 100;
        
    }

    .navbar-container a{
        color: #fdfdfd;
    }
    .bar{
        display: block;
    }

    .nav-item{
        margin: 16px, 0;

    }

    .navbar-container.active{
        left: 0;
        

    }

    .navbar-container a:hover{
        background-color:#fdfdfd;
        color: #6C235D;
    }

    .navbar-container a.active{
        background-color:#fdfdfd;
        color: #6C235D;
    }
    
   
    
    .wrapper{
        padding: 0;
    }
}

